@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<hr>
<h4>Add a new Machine</h4>
<hr>

<p>@Html.ValidationMessageFor(model => model.MachineName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.MachineStatus, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.MachineName, "Machine Name")
  @Html.TextBoxFor(model => model.MachineName)
  <br>
  @Html.LabelFor(model => model.MachineStatus, "Machine Status")
  @Html.DropDownListFor(model => model.MachineStatus, new SelectList(new[]
  {
    new { Value = "Broken", Text = "Broken" },
    new { Value = "Under Repair", Text = "Under Repair" },
    new { Value = "Fully Functional", Text = "Fully Functional" }
  }, "Value", "Text"), "Select status")
  <br>
  <input type="submit" value="Add new Machine" class="btn btn-warning"/>
}
<br>
<p>@Html.ActionLink("Show all Machines", "Index")</p>