@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models

<hr>
<h2>Machine Details</h2>
<hr>

<h3>@Html.DisplayNameFor(model => model.MachineName): @Html.DisplayFor(model => model.MachineName)<h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This machine does not have any engineers added yet!</p>
}
else
{
  <h4>This machine is serviced by the following Engineers:</h4>
  <ul>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <li>Engineer: @join.Engineer.EngineerName | @join.Engineer.EngineerStatus</li>
      @using (Html.BeginForm("DeleteJoin", "Machine"))
      {
        @Html.Hidden("machineId", Model.MachineId)
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}

<p>@Html.ActionLink("Edit machine", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Delete machine", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Add a Engineer", "AddEngineer", new { id = Model.MachineId })</p>
