@{
    Layout = "_Layout";
}

@using Factory.Models;
<hr>
<h1>Machine and Engineer Management System:</h1>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="card custom-card">
            <div class="card-body">
                <h4>Machine | Machine Status</h4>
                @if (Model["machines"].Length == 0)
                {
                    <p>No machines added to system. <a href="/machines/create">Add one here</a></p>
                }
                <ul>
                    @foreach (Machine machine in Model["machines"])
                    {
                        <li>@Html.ActionLink(@machine.MachineName + " | " + machine.MachineStatus, "Details", "Machines", new { id = @machine.MachineId })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card custom-card">
            <div class="card-body">
                <h4>Engineer | Engineer Status</h4>
                @if (Model["engineers"].Length == 0)
                {
                    <p>No engineers added to system. <a href="/engineers/create">Add one here</a></p>
                }
                <ul>
                    @foreach (Engineer engineer in Model["engineers"])
                    {
                        <li>@Html.ActionLink(@engineer.EngineerName + " | " + engineer.EngineerStatus, "Details", "Engineers", new { id = @engineer.EngineerId })</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>